<%- include ("./partials/header") %>
<p> Hello <%= name %> </p>
<form action="/logout" method="GET">

    <input type="submit" class="fadeIn fourth" /> logout
  </form>

  <form action="/createT" method="GET">

    <input type="submit" class="fadeIn fourth" /> crea torneo
  </form>

  <form action="/myAccount" method="GET">

    <input type="submit" class="fadeIn fourth" /> mi cuenta
  </form>

  <h2> Torneos actuales públicos</h2>
  <div id="tournamentsContainer" class="tournaments">
    <% for (var i = 0; i < tournaments.length; i++) { %>
      <div id= "specificTournament" >
      <h4 >
        <%= tournaments[i].name %>
      </h4>
      <h5 >
        <%= tournaments[i].description %>
      </h5>
      <a href=  <%= "/u/" + tournaments[i].owner %> >
        <h5>
            <%= tournaments[i].owner %>
          </h5>
      </a>
      <form action= <%= "/t/" + tournaments[i]._id %> method="GET">
      <button class="verMas"> Ver Más </button>
    </form>
    <% if (tournaments[i].owner != currentUser && !isPresent[i]) { %>
      <form action= <%= "/t/" + tournaments[i]._id  + "/join/" %> method="POST">
        <button class="join"> join </button>
      </form>
      <% } %>
      </div>
      <br>
      <% } %>
    </div>

    <input
    type="text"
    id="joinID"
    name="joinID"
    class="fadeIn second"
    placeholder="join a tournament with an id"
  />
  <input type="submit" class="fadeIn fourth" id = "submitBtn"/>
  <br>
  <br>
  <input
        type="text"
        id="searchBar"
        name="searchBar"
        class="fadeIn second"
        placeholder="Search..."
      />
  <input type="submit" class="fadeIn fourth" id = "submitSearch"/>

<script>
    // unirse a torneo con id
    $(document).ready(function() {
        $("#submitBtn").click (function(event){
        event.preventDefault();
        console.log("hola");
        var id = $("#joinID").val();
        console.log("id is " +  id);

        var request = $.ajax({
          type: "POST",
          url: "/t/" + id + "/join",
          data: {saludo:"hola"},
          dataType: "text"
        });

        //Este bloque se ejecutará si no hay error en la petición
        request.done(function(respuesta) {
            console.log(respuesta);
            console.log(respuesta.foo); //foo es una propiedad (clave), del json que devuelve el servidor
            //Tratamos a respuesta según sea el tipo  y la estructura  
            location.href= "/t/" + id;
            return;             
        });

        //Este bloque se ejecuta si hay un error
        request.fail(function(jqXHR, textStatus) {
            alert("Hubo un error: " + textStatus);
        });

        });
    });

    // búsqueda
    $(document).ready(function() {
        $("#submitSearch").click (function(event){
        event.preventDefault();
        console.log("hola");
        var search = $("#searchBar").val();
        console.log("search is " +  search);

        var request = $.ajax({
          type: "GET",
          url: "/q/" + search,
          data: {saludo:"hola"},
          dataType: "text"
        });

        //Este bloque se ejecutará si no hay error en la petición
        request.done(function(respuesta) {
            console.log(respuesta);
            console.log(respuesta.foo); //foo es una propiedad (clave), del json que devuelve el servidor
            //Tratamos a respuesta según sea el tipo  y la estructura  
            location.href= "/q/" + search;
            return;             
        });

        //Este bloque se ejecuta si hay un error
        request.fail(function(jqXHR, textStatus) {
            alert("Hubo un error: " + textStatus);
        });

        });
    });
    </script>
<%- include ("./partials/footer") %>