<%- include ("./partials/header") %>
<form action="/home" method="GET">

    <button class="home"> Home </button>
  </form>
  <h4 >
    <%= user.name %>
  </h4>
  <h5 >
    <%= user.userID %>
  </h5>
  <h5 >
    <%= user.email %>
  </h5>
  <br>
  <h4 >
    Mis torneos
  </h4>
  <div id="tournamentsContainer" class="tournaments">
    <% for (var i = 0; i < tournaments.length; i++) { %>
      <div id= "specificTournament" >
      <h4 >
        <%= tournaments[i].name %>
      </h4>
      <h5 >
        <%= tournaments[i].description %>
      </h5>
      <h5 >
        owner: <%= tournaments[i].owner %>
      </h5>
      <form action= <%= "/t/" + tournaments[i]._id %> method="GET">
      <button class="verMas"> Ver Más </button>
    </form>
      </div>
      <br>
      <% } %>
      <h4 >
        Torneos donde participo
      </h4>
      <% for (var i = 0; i < tournamentsParticipant.length; i++) { %>
        <% if (user.userID != tournamentsParticipant[i].owner) { %>
        <div id= "specificTournament" >
        <h4 >
          <%= tournamentsParticipant[i].name %>
        </h4>
        <h5 >
          <%= tournamentsParticipant[i].description %>
        </h5>
        <a href=  <%= "/u/" + tournamentsParticipant[i].owner %> >
          <h5>
          <%= tournamentsParticipant[i].owner %>
          </h5>
          </a>
        <form action= <%= "/t/" + tournamentsParticipant[i]._id %> method="GET">
        <button class="verMas"> Ver Más </button>
      </form>
        </div>
        <br>
        <% } %>
        <% } %>
    </div>
<%- include ("./partials/footer") %>