<%- include ("./partials/header") %>
<body>
    <div id="tournamentsContainer" class="tournaments">
        <div id= "specificTournament" >
        <h4 >
        <%= tournamentSingle.name %>
        </h4>
        <p>ID para unirse:  <%= tournamentSingle._id %></p>
        <% if (tournamentSingle.isPrivate) { %>
          <p> Torneo privado</p>
          <% } else { %>
            <p> Torneo público</p>
          <% } %>
        <h5>
        <%= tournamentSingle.description %>
        </h5>
        <h5> owner: </h5>
        <a href=  <%= "/u/" + tournamentSingle.owner %> >
        <h5>
        <%= tournamentSingle.owner %>
        </h5>
        </a>
        </div>
        <br>
        <h4 >Participants: </h4>
        <ul>
        <% for (var i = 0; i < tournamentSingle.users.length; i++) { %>
          <div id= "specificParticipant" >
            <a href = <%= "/u/" + tournamentSingle.users[i] %> > 
           <li> <%= tournamentSingle.users[i] %>
           </a>
            <% if (isOwner && tournamentSingle.users[i] != tournamentSingle.owner) { %>
              <form action= <%= "/t/" + tournamentSingle._id  + "/delete/"  + tournamentSingle.users[i]%> method="POST">
              <button class="delete"> Delete </button>
            </form>
              <% } %>
              <% if (tournamentSingle.users[i] == currentUser && !isOwner) { %>
                <form action= <%= "/t/" + tournamentSingle._id  + "/delete/"  + tournamentSingle.users[i]%> method="POST">
                <button class="Exit"> Exit from tournament </button>
                </form>
                <% } %>
          </li> 
          <% } %>
    </div>
    <form action="/home" method="GET">

        <button class="home"> Home </button>
      </form>
      <% if (!isOwner) { %>
      <form action= <%= "/t/" + tournamentSingle._id  + "/join/" %> method="POST">
        <button class="join"> join </button>
      </form>
      <% } %>
      <% if (isOwner) { %>
        <form action= <%= "/t/" + tournamentSingle._id  + "/deleteT/" %> method="POST">
          <button class="deleteT"> Delete Tournament </button>
        </form>
        <% } %>

</body>
<%- include ("./partials/footer") %>