<%- include ("./partials/header") %>

<form action="/home" method="GET">
    <button class="home"> Home </button>
  </form>
  <br>
  <h4 >
    <%= userFound[0].name %>
  </h4>
  <h5 >
    <%= userFound[0].userID %>
  </h5>
  <h5 >
    <%= userFound[0].email %>
  </h5>
  <br>
  <h4 >
    Sus torneos
  </h4>
  <div id="tournamentsContainer" class="tournaments">
    <% for (var i = 0; i < tournaments.length; i++) { %>
        <% if (!tournaments[i].isPrivate) { %>
      <div id= "specificTournament" >
      <h4 >
        <%= tournaments[i].name %>
      </h4>
      <h5 >
        <%= tournaments[i].description %>
      </h5>
      <h5> owner: </h5>
      <a href=  <%= "/u/" + tournaments[i].owner %> >
        <h5>
            <%= tournaments[i].owner %>
          </h5>
      </a>
      <form action= <%= "/t/" + tournaments[i]._id %> method="GET">
      <button class="verMas"> Ver Más </button>
    </form>
      </div>
      <br>
      <% } %>
      <% } %>
    </div>

<%- include ("./partials/footer") %>