<%- include ("./partials/header") %>
<div class="container">
  <div>
    <h1> Torneos actuales públicos</h1>
    <div class="row">
      <div class="col">
        <input
          type="text"
          id="joinID"
          name="joinID"
          class="second"
          placeholder="ID"
        />
      </div>
      <div class="col">
        <input type="submit" class="fourth" id = "submitBtn" value="Unirse a torneo"/>
      </div>
      <div class="col"></div>
      <div class="col">
        <input
        type="text"
        id="searchBar"
        name="searchBar"
        class="second"
        placeholder="Search..."
      />
      </div>
      <div class="col">
        <input type="submit" class="fourth" id = "submitSearch" value="Buscar torneo"/>
      </div>
    </div>
  <% for (var i = 0; i < tournaments.length; i++) { %>
            <% if (i % tournaments_per_row == 0) { %>
        <div class="row mt-3 justify-content-center">
            <% } %>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title"><%= tournaments[i].name %></h5>
                        <p class="card-text fst-italic"><small class="text-muted"><%= tournaments[i].date.toLocaleString('default', { month: 'long' }) + ' ' + tournaments[i].date.getFullYear() %></small></p>
                        <p class="card-text"><%= tournaments[i].description %></p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        <form action= <%= "/t/" + tournaments[i]._id %> method="GET">
                          <button class="verMas"> Ver Más </button>
                        </form>
                        <% if (tournaments[i].owner != currentUser && !isPresent[i]) { %>
                          <form action= <%= "/t/" + tournaments[i]._id  + "/join/" %> method="POST">
                            <button class="join"> join </button>
                          </form>
                          <% } %>
                    </div>
                    <div class="card-footer"><a href=<%= "/u/" + tournaments[i].owner %> class="link-light"><%= tournaments[i].owner %></a></div>
                </div>
            </div>
            <% if ((i + 1) % tournaments_per_row == 0) { %>
        </div>
            <% } %>
        <% } %>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
<script>
    // unirse a torneo con id
    $(document).ready(function() {
        $("#submitBtn").click (function(event){
        event.preventDefault();
        console.log("hola");
        var id = $("#joinID").val();
        console.log("id is " +  id);

        var request = $.ajax({
          type: "POST",
          url: "/t/" + id + "/join",
          data: {saludo:"hola"},
          dataType: "text"
        });

        //Este bloque se ejecutará si no hay error en la petición
        request.done(function(respuesta) {
            console.log(respuesta);
            console.log(respuesta.foo); //foo es una propiedad (clave), del json que devuelve el servidor
            //Tratamos a respuesta según sea el tipo  y la estructura  
            location.href= "/t/" + id;
            return;             
        });

        //Este bloque se ejecuta si hay un error
        request.fail(function(jqXHR, textStatus) {
            alert("Hubo un error: " + textStatus);
        });

        });
    });

    // búsqueda
    /*
    $(document).ready(function() {
        $("#submitSearch").click (function(event){
        event.preventDefault();
        console.log("hola");
        var search = $("#searchBar").val();
        console.log("search is " +  search);

        var request = $.ajax({
          type: "GET",
          url: "/q/" + search,
          data: {saludo:"hola"},
          dataType: "text"
        });

        //Este bloque se ejecutará si no hay error en la petición
        request.done(function(respuesta) {
            console.log(respuesta);
            console.log(respuesta.foo); //foo es una propiedad (clave), del json que devuelve el servidor
            //Tratamos a respuesta según sea el tipo  y la estructura  
            location.href= "/q/" + search;
           // $parents.html(response).fadeIn(); 
            return;             
        });

        //Este bloque se ejecuta si hay un error
        request.fail(function(jqXHR, textStatus) {
            alert("Hubo un error: " + textStatus);
        });

        });
    });
    */
    </script>
<%- include ("./partials/footer") %>