<%- include ("./partials/header") %>
<form action="/home" method="GET">

    <button class="home"> Home </button>
  </form>
  <h4 >
    <%= user.name %>
  </h4>
  <h5 >
    <%= user.userID %>
  </h5>
  <h5 >
    owner: <%= user.email %>
  </h5>
  <br>
  <h4 >
    Resultados de torneos:
  </h4>
  <div id="tournamentsContainer" class="tournaments">
    <% for (var i = 0; i < tournaments.length; i++) { %>
      <div id= "specificTournament" >
      <h4 >
        <%= tournaments[i].name %>
      </h4>
      <h5 >
        <%= tournaments[i].description %>
      </h5>
      <h5 >
        owner: <%= tournaments[i].owner %>
      </h5>
      <form action= <%= "/t/" + tournaments[i]._id %> method="GET">
      <button class="verMas"> Ver Más </button>
    </form>
      </div>
      <br>
      <% } %>
    </div>
<%- include ("./partials/footer") %>