<%- include ("./partials/header") %>
<div class="container container-main">
    <div class="row justify-content-center">
        <div class="jumbotron" style="background-image: url(/images/t-hero.jpg);">
            <h1 class="display-3">Torneos</h1>
            <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
            <hr class="my-4">
            <p>¡Explora los torneos en curso, busca a tus favoritos y participa!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="row">
                <form class="form-inline">
                    <div class="row justify-content-md-center">
                        <!-- <div class="col">
                            <button type="button" class="btn btn-primary">Crear un torneo</button>
                        </div> -->
                        <div class="col">
                            <button type="submit" id="button-search" class="btn btn-primary mb-2"><i class="bi-search"></i> Buscar torneo</button>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="field-search" placeholder="Buscar">
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                </form>
        </div>
    </div>
    <div class="container">
        <% for (var i = 0; i < tournaments.length; i++) { %>
            <% if (i % tournaments_per_row == 0) { %>
        <div class="row mt-3 justify-content-center">
            <% } %>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <a href= <%= "/t/" +  tournaments[i]._id %>>
                        <h5 class="card-title"><%= tournaments[i].name %></h5>
                    </a>
                        <p class="card-text fst-italic"><small class="text-muted"><%= tournaments[i].date.toLocaleString('default', { month: 'long' }) + ' ' + tournaments[i].date.getFullYear() %></small></p>
                        <p class="card-text"><%= tournaments[i].description %></p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer"><a href= <%= "/u/" +  tournaments[i].owner %> class="link-light"><%= tournaments[i].owner %></a></div>
                </div>
            </div>
            <% if ((i + 1) % tournaments_per_row == 0) { %>
        </div>
            <% } %>
        <% } %>
    </div>
</div>
<%- include ("./partials/footer") %>
<script src="scripts/t-join.js"></script>
<script src="scripts/t-find.js"></script>