<%- include ("./partials/header-ancho") %>

    <!-- Empieza-->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
            
              <!-- Title -->
              <div id="titlelabbel">
                <h1>- Descripción del torneo -</h1>
              </div>
    
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="http://prints.ultracoloringpages.com/7da94fb48d48833324015dc7817d7f96.png" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
    
              <div id="tournamentsContainer" class="tournaments">
                <div id= "specificTournament" >
                <h4 >
                <%= tournamentSingle.name %>
                </h4>
                <p>ID para unirse:  <%= tournamentSingle._id %></p>
                <% if (tournamentSingle.isPrivate) { %>
                  <p> Torneo privado</p>
                  <% } else { %>
                    <p> Torneo público</p>
                  <% } %>
                <h5>
                <%= tournamentSingle.description %>
                </h5>
                <h5> owner: </h5>
                <a href=  <%= "/u/" + tournamentSingle.owner %> >
                <h5>
                <%= tournamentSingle.owner %>
                </h5>
                </a>
                </div>
                <br>
                <h4 >Participants: </h4>

                <% for (var i = 0; i < tournamentSingle.users.length; i++) { %>
                  <div id= "specificParticipant" >
                    <a href = <%= "/u/" + tournamentSingle.users[i] %> > 
                  <h4><%= tournamentSingle.users[i] %></h4>
                   </a>
                    <% if (isOwner && tournamentSingle.users[i] != tournamentSingle.owner) { %>
                      <form action= <%= "/t/" + tournamentSingle._id  + "/delete/"  + tournamentSingle.users[i]%> method="POST">
                        <input type="submit" class="fadeIn fourth" value="Delete" style="background-color: #de364d" >
                    </form>
                      <% } %>
                      <% if (tournamentSingle.users[i] == currentUser && !isOwner) { %>
                        <form action= <%= "/t/" + tournamentSingle._id  + "/delete/"  + tournamentSingle.users[i]%> method="POST">
                          <input type="submit" class="fadeIn fourth" value="Exit from Tournament" style="background-color: #de364d" >
                        </form>
                        <% } %>
                  <% } %>
            </div>
            <form action="/home" method="GET">
        
              <input type="submit" class="fadeIn fourth" value="Home" style="background-color: #de364d" >
              </form>
              <% if (!isOwner) { %>
              <form action= <%= "/t/" + tournamentSingle._id %> method="POST">
                <input type="submit" class="fadeIn fourth" value="Join" style="background-color: #de364d" >
              </form>
              <% } %>
              <% if (isOwner) { %>
                <form action= <%= "/deleteT/" + tournamentSingle._id %> method="POST">
                  <input type="submit" class="fadeIn fourth" value="Delete Tournament" style="background-color: #de364d" >
                </form>
                <% } %>
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="about-us" style="color: white" >About us</a>
              </div>
          
            </div>
          </div>
    
    

    <!-- Termina -->

<%- include ("./partials/footer") %>